#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-4-Clause
#

config NRF_DEFAULT_IPC_RADIO
	default y if SOC_NRF5340_CPUAPP

config PM_EXTERNAL_FLASH_MCUBOOT_SECONDARY
	default n if BOOTLOADER_MCUBOOT

source "${ZEPHYR_BASE}/share/sysbuild/Kconfig"
