<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SuperBinary Format Version</key>
    <integer>2</integer>
    <key>SuperBinary Firmware Version</key>
    <string></string>
    <key>SuperBinary Payloads</key>
    <array>
        <dict>
            <key>Payload 4CC</key>
            <string>FWUP</string>
            <key>Payload Long Name</key>
            <string>Firmware update</string>
            <key>Payload Filepath</key>
            <string>{bin_file}</string>
            <key>Payload Version</key>
            <string></string>
            <key>Payload MetaData</key>
            <dict>
                <key>Apply Flags</key>
                <integer>1</integer>
                <key>SHA-2</key>
                <data></data>
            </dict>
        </dict>
    </array>
</dict>
</plist>