#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-4-Clause
#

rsource "mcuboot_app/Kconfig"

module = FMNA_UARP_PAYLOAD
module-str = fmna_uarp_payload
source "subsys/logging/Kconfig.template.log_config"
