#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-4-Clause
#

config FMNA_UARP_WRITER_MCUBOOT
	bool "MCUboot-specific FMNA UARP payload writer"
	depends on BOOTLOADER_MCUBOOT
	select FLASH_MAP
	select FMNA_UARP_WRITER_UTIL_NVM
	select MCUBOOT_BOOTUTIL_LIB

if FMNA_UARP_WRITER_MCUBOOT

config FMNA_UARP_WRITER_MCUBOOT_BUF_SIZE
	int "Buffer size used for NVM writes to image slot"
	default 512
	range 256 4096
	help
	  Buffer size needed for NVM writes to image slot.

endif # FMNA_UARP_WRITER_MCUBOOT

module = FMNA_UARP_WRITER_MCUBOOT
module-str = fmna_uarp_writer_mcuboot
source "subsys/logging/Kconfig.template.log_config"
